@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Söhne", sans-serif;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "Söhne";
  src: url("/fonts/TestSöhne-Leicht.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Söhne";
  src: url("/fonts/TestSöhne-Buch.otf") format("opentype"); 
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Söhne";
  src: url("/fonts/TestSöhne-Dreiviertelfett.otf") format("opentype"); 
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Söhne";
  src: url("/fonts/TestSöhne-Halbfett.otf") format("opentype"); 
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Söhne";
  src: url("/fonts/TestSöhne-Fett.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Söhne";
  src: url("/fonts/TestSöhne-Kräftig.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geomanist";
  src: url("/fonts/Geomanist-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}